.happy-valentine-s-day-sale-pro-icon1 {
  position: absolute;
  top: 97px;
  left: 0;
  width: 390px;
  height: 215px;
  object-fit: cover;
}
.sn-pham-lam-banh-mobile-child {
  position: absolute;
  top: 270px;
  left: 0;
  border-radius: 30px;
  background-color: var(--color-white);
  width: 390px;
  height: 1415px;
}
.lin-h4 {
  align-self: stretch;
  position: relative;
}
.tr-s1 {
  font-family: var(--font-inter);
}
.span19 {
  text-decoration: underline;
}
.a6 {
  color: inherit;
}
.tr-s-s-114-container4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.end-text6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 130px;
  max-width: 250px;
  z-index: 0;
}
.anh-quang-shop5 {
  width: 222px;
  position: relative;
  font-size: var(--font-size-base);
  display: none;
  height: 19px;
  flex-shrink: 0;
}
.dng-c-lm2 {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.shop-bn2 {
  margin: 0;
}
.tr-s-s-114-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.end-text7 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 130px;
  max-width: 250px;
  z-index: 1;
}
.end-text5,
.end-text7,
.end-text8,
.end1 {
  display: flex;
  align-items: flex-start;
}
.end-text8 {
  width: 178px;
  margin: 0 !important;
  position: absolute;
  top: 167px;
  left: 193px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 130px;
  max-width: 250px;
  z-index: 2;
}
.end-text5,
.end1 {
  flex-direction: row;
  justify-content: center;
}
.end-text5 {
  flex: 1;
  height: 333px;
  flex-wrap: wrap;
  position: relative;
  gap: 13px;
  max-width: 1152px;
}
.end1 {
  position: absolute;
  top: 1469px;
  left: 0;
  background-color: var(--color-dimgray);
  width: 390px;
  height: 357px;
  padding: var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.bo-uc-pilot-1kg-1-icon12 {
  width: 150px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 150px;
  object-fit: cover;
  z-index: 0;
}
.hot-deal85 {
  position: relative;
  font-weight: 900;
}
.hd-box36,
.hot-deal84 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hot-deal84 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.hd-box36 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-tomato);
  height: 15px;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 37px;
}
.hot-deal87 {
  position: relative;
  font-weight: 900;
  white-space: pre-wrap;
}
.hd-box37,
.hd-box38 {
  flex: 1;
  border-radius: var(--br-10xs);
  background-color: var(--color-cornflowerblue);
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 60px;
}
.hd-box38 {
  background-color: var(--color-yellow);
  color: var(--color-chocolate);
}
.anh-sp12,
.thanh-sale12 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.thanh-sale12 {
  width: 155px;
  margin: 0 !important;
  position: absolute;
  top: 150px;
  left: 0;
  gap: var(--gap-9xs);
  z-index: 1;
}
.anh-sp12 {
  position: relative;
  max-width: 192px;
  max-height: 196px;
  z-index: 0;
}
.b-lt-c12 {
  width: 98px;
  display: inline-block;
}
.b-lt-c12,
.div36,
.star-icon60 {
  position: relative;
}
.star-icon60 {
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.div37 {
  width: 21px;
  position: relative;
  font-size: var(--font-size-6xs);
  color: var(--color-gray);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.b-lt-c-pilot-parent,
.mid12 {
  display: flex;
  justify-content: flex-start;
}
.mid12 {
  height: 18px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: 8px 2px;
  font-size: var(--font-size-3xs);
  color: var(--color-goldenrod-100);
}
.b-lt-c-pilot-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.bn-chy12 {
  width: 40px;
  position: relative;
  display: inline-block;
  height: 9px;
  flex-shrink: 0;
}
.hot-deal90,
.status12 {
  display: flex;
  justify-content: center;
}
.hot-deal90 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.status12 {
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-orange-200);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-11xs);
}
.mid13 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100px;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--color-orange-200);
}
.div38 {
  position: relative;
  font-weight: 600;
  color: var(--color-black);
}
.span25 {
  text-decoration: line-through;
}
.gi-gc-29000-container12,
.kho-1212 {
  position: relative;
  font-size: var(--font-size-6xs);
}
.kho-1212 {
  font-size: var(--font-size-5xs);
  text-align: right;
}
.bot12,
.thong-ti-sp12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  color: var(--color-gray);
}
.thong-ti-sp12 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-5xs);
  z-index: 1;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.sale-label-child9 {
  width: 63px;
  position: relative;
  height: 20px;
  opacity: 0.7;
  z-index: 0;
}
.div39,
.fire-icon12,
.sale-label12 {
  margin: 0 !important;
  position: absolute;
}
.fire-icon12 {
  width: 14px;
  top: 2px;
  left: 2px;
  height: 14.5px;
  object-fit: cover;
  opacity: 0.9;
  z-index: 1;
}
.div39,
.sale-label12 {
  z-index: 2;
}
.div39 {
  width: 35px;
  top: 3px;
  left: 16px;
  letter-spacing: 0.08em;
  font-weight: 900;
  display: inline-block;
  opacity: 0.9;
}
.sale-label12 {
  top: 10px;
  left: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-crimson);
}
.san-pham12,
.san-pham14 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs);
  position: relative;
  gap: var(--gap-xl);
  cursor: pointer;
}
.san-pham12 {
  display: flex;
}
.san-pham14 {
  display: none;
}
.thanh-sp {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
}
.phn-sn-phm-mobile,
.thanh-sp,
.thanh-sp-parent {
  display: flex;
  justify-content: flex-start;
}
.thanh-sp-parent {
  width: 370px;
  border-top: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl) var(--padding-3xs);
  gap: var(--gap-3xs);
}
.phn-sn-phm-mobile {
  position: absolute;
  top: 584px;
  left: 0;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-5xs);
}
.arrow-pointing-left5 {
  width: 20px;
  position: relative;
  height: 20px;
  object-fit: contain;
}
.thanh-lc3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.more-than-icon2 {
  width: 20px;
  position: relative;
  height: 21px;
  object-fit: contain;
}
.la-chon-lc4,
.la-chon-lc5 {
  width: 174px;
  background-color: var(--color-goldenrod);
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.la-chon-lc5 {
  background-color: var(--color-white);
}
.arrow-pointing-left8 {
  width: 20px;
  position: relative;
  height: 20px;
  object-fit: contain;
  display: none;
}
.la-chon-lc-group {
  width: 172px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.thanh-lc2 {
  position: absolute;
  top: 548px;
  left: 208px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 174px;
  height: 39px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-5xs);
  gap: 11px 14px;
  text-align: center;
  color: var(--color-black);
}
.b-kem-pho6 {
  position: relative;
  font-weight: 600;
}
.b-kem-pho-mai-wrapper3 {
  border-radius: var(--br-3xs);
  border: 2px solid var(--color-goldenrod);
  padding: var(--padding-3xs);
  color: var(--color-goldenrod);
}
.b-kem-pho-mai-wrapper3,
.b-kem-pho-mai-wrapper4,
.danh-mc-b-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b-kem-pho-mai-wrapper4 {
  border-radius: var(--br-3xs);
  padding: var(--padding-3xs);
  opacity: 0.6;
}
.danh-mc-b-mobile {
  position: absolute;
  top: 481px;
  left: 10px;
  border-bottom: 1px solid var(--color-goldenrod-200);
  box-sizing: border-box;
  width: 370px;
  height: 60px;
  overflow-x: auto;
  padding: 0 0 0 var(--padding-3xs);
  gap: 6px;
  text-align: center;
  color: var(--color-black);
}
.danh-muc-bar-child {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0.1px;
  object-fit: contain;
}
.hot-deal168 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.hd-box72 {
  background-color: var(--color-goldenrod-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
}
.danh-muc-bar {
  width: 390px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 11px;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.danh-mc-mobile-child,
.nguyn-liu-lm15 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.danh-mc-mobile-child {
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  height: 65px;
  object-fit: cover;
}
.nguyn-liu-lm15 {
  width: 62px;
  display: inline-block;
}
.text-danh-mc-mobile {
  width: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.danh-mc-mobile {
  width: 65px;
  height: 99px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-9xs);
  cursor: pointer;
}
.danh-mc-mobile,
.danh-mc-mobile-parent,
.danh-mc-mobile1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.danh-mc-mobile1 {
  width: 65px;
  height: 99px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-9xs);
  opacity: 0.5;
}
.danh-mc-mobile-parent {
  width: 348px;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.danh-mc-bar-mobile-wrapper,
.danh-mc-bar-mobile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.danh-mc-bar-mobile1 {
  width: 370px;
  background-color: var(--color-goldenrod-200);
  padding: 12px var(--padding-3xs);
  box-sizing: border-box;
}
.danh-mc-bar-mobile-wrapper {
  padding: var(--padding-3xs);
  margin-top: -11px;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
}
.danh-mc-bar-mobile {
  position: absolute;
  top: 301px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.sn-pham-lam-banh-mobile-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 48px;
}
.icon-menu1 {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 34px;
  height: 31px;
}
.span37 {
  color: var(--color-black);
}
.shop1 {
  color: var(--color-silver-200);
}
.anhquang-shop1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 91px);
  cursor: pointer;
}
.logo1 {
  width: 220px;
  position: relative;
  height: 50px;
  z-index: 0;
}
.ui-bar-mobile-child {
  width: 391px;
  position: relative;
  border-top: 1px solid var(--color-goldenrod);
  box-sizing: border-box;
  height: 1px;
  z-index: 1;
  margin-left: -9px;
}
.nhay-icon2 {
  width: 0;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 29px;
  height: 23px;
  z-index: 0;
}
.icon-magnifying-glass10,
.vector-icon3 {
  width: 17px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: 665px;
  height: 17px;
  z-index: 1;
}
.icon-magnifying-glass10 {
  width: 3.16%;
  height: 60%;
  top: 14.29%;
  right: 96.84%;
  bottom: 25.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.gy4,
.tim-kiem2,
.tm-kim2 {
  display: flex;
  align-items: center;
}
.tm-kim2 {
  width: 188px;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: 31px;
  height: 35px;
  opacity: 0.2;
  z-index: 3;
}
.gy4,
.tim-kiem2 {
  width: 693px;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 0;
}
.gy4 {
  margin: 0 !important;
  position: absolute;
  top: -6px;
  left: 0;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-4xs);
}
.tim-kiem2 {
  height: 29px;
  position: relative;
}
.thanh-tk-item {
  width: 556px;
  position: absolute;
  margin: 0 !important;
  top: 52px;
  left: 13px;
  height: 1px;
  object-fit: contain;
  display: none;
  opacity: 0.2;
  z-index: 1;
}
.icon-magnifying-glass11 {
  width: 25px;
  position: relative;
  height: 25px;
}
.gi16,
.gi17 {
  display: flex;
  align-items: center;
}
.gi17 {
  width: 188px;
  position: relative;
  height: 35px;
  flex-shrink: 0;
}
.gi16 {
  width: 558px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.gy5,
.thanh-tk-wrapper,
.thanh-tk1 {
  display: flex;
  align-items: flex-start;
}
.gy5 {
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-3xs);
  z-index: 2;
}
.thanh-tk-wrapper,
.thanh-tk1 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 0;
}
.thanh-tk1 {
  width: 38px;
  margin: 0 !important;
  position: absolute;
  top: 7px;
  right: 10px;
  border-radius: var(--br-base);
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.thanh-tk-wrapper {
  width: 58px;
  height: 51px;
  flex-direction: row;
  position: relative;
}
.vector-icon4 {
  width: 23.1px;
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 1px;
  height: 19px;
  z-index: 0;
}
.vector-wrapper {
  width: 34px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.frame-child1 {
  width: 0;
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 51.5px;
  height: 21px;
  object-fit: contain;
  opacity: 0.5;
  z-index: 2;
}
.frame-container,
.ui-bar-mobile {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame-container {
  margin: 0 !important;
  top: -2px;
  left: 295px;
  height: 52px;
  align-items: center;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
}
.ui-bar-mobile {
  top: 46px;
  left: 0;
  background-color: var(--color-white);
  width: 390px;
  height: 50px;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkgoldenrod);
}
.icon-menu2 {
  position: absolute;
  top: 24px;
  left: 22px;
  width: 34px;
  height: 31px;
  display: none;
}
.vector-icon5 {
  position: absolute;
  top: 14px;
  left: 17px;
  width: 24px;
  height: 22px;
}
.anhquang-shop2 {
  position: absolute;
  top: 16px;
  left: 64px;
  display: none;
  cursor: pointer;
}
.logo2 {
  width: 263px;
  position: relative;
  height: 58px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-mini);
  color: var(--color-darkgoldenrod);
}
.icon-home1 {
  width: 32px;
  position: relative;
  height: 32px;
  opacity: 0.5;
}
.icon-home-group,
.nhy-m13 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nhy-m13 {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
}
.icon-home-group {
  width: 180px;
  height: 56px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.menu-mobile-inner {
  width: 230px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.online-support-icon3 {
  width: 33px;
  position: relative;
  height: 33px;
  object-fit: cover;
  opacity: 0.6;
}
.menu-mobile-item,
.more-than-icon3 {
  width: 290.5px;
  position: relative;
  height: 1.6px;
  object-fit: contain;
  opacity: 0.3;
}
.more-than-icon3 {
  width: 27px;
  height: 25.8px;
  object-fit: cover;
  opacity: 0.5;
}
.menu-mobile,
.menu-mobile-inner4 {
  display: flex;
  flex-direction: column;
}
.menu-mobile-inner4 {
  width: 193px;
  height: 45px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.menu-mobile {
  position: absolute;
  top: 46px;
  left: 0;
  width: 263px;
  height: 58px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-287xl);
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.sn-pham-lam-banh-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1823px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
